.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  width: 100%;
  background-color: #6dd6fc;

  .navItem {
    padding: 0 10px;
    text-decoration: none;
    color: #fff;

    //&.active {
    //  color: #000;
    //  background-color: #fff;
    //  padding: 10px;
    //  border-radius: 10px;
    //}
  }
}
